.pageNotFound {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  img {
    width: 60vh;
    height: 60vh;
    @media (max-width: 500px) {
      width: 45vh;
      height: 45vh;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vh;
    max-height: 50vh;
    > h1 {
      @media (max-width: 500px) {
        font-size: 1.5rem;
      }
    }
    > p {
      @media (max-width: 500px) {
        font-size: 0.8rem;
      }
    }
  }
}
