.home {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > form {
    display: flex;
    > button {
      padding: 0.5rem;
      background: var(--shape);
      border-radius: 0 0.5rem 0.5rem 0;
      border: none;
      cursor: pointer;
      svg {
        color: var(--subtitle);
      }
    }
    > input {
      font-size: 1.5rem;
      font-weight: 600;
      width: 95%;
      padding: 1rem;
      background: var(--shape);
      border: none;
      border-radius: 0.5rem 0 0 0.5rem;
      color: var(--text);
      outline: none;
    }
  }

  .load {
    background: var(--primary);
    color: var(--title);
    padding: 1rem;
    border: none;
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 0.2s;
    font-weight: bold;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
